
<table>                         
  <tr>                          
    <th>Services</th>
  </tr>
<% @subcategory.each do |data| %>      
  <tr>
    
    <td><a href="<%= "/catalouges/#{data.id}" %>">
      <%= data.name%>
      </a>
    </td> 
   </tr>
<% end %>                       
</table>   
<%= link_to"Back",  root_path  %>