<html>
<body style="background-color:powderblue;">
<h1 class="display-1" style="margin-left: 30%;">Thank You</h1>
<div class="fw-medium" style="font-size: 35px; margin-left: 30%; padding-top: 3%;">Your appointment has been scheduled</div>
<div class="fw-medium" style="font-size: 35px; margin-left: 30%; padding-top: 3%">Be sure to complete and bring these<br> 
New patient documents for your visit:</div>
<!-- <div><img src="assets/images/pdf.jpg" class="img-thumbnail"></div> -->
<div style="margin-top: 5%; margin-left:40%; "><%= image_tag("pdf.jpg", class: "img-thumbnail", width: 150, height: 100) %></div>
<div style="margin-top: 1%; margin-left: 41.9%;">Health history</div>
</body>
</html>
